

.NxtBtn{
  background-image: radial-gradient(circle, #fafafa8c, #fefefeaa, #ffffff, #ffffffad, #ffffffd8);
  color: rgb(50, 48, 48);
  position: absolute;
  font-weight: bolder;
  transition: 0.4s ease-out;
}

.NxtBtn:hover{
  transform: scale(1);
  background-image:  linear-gradient(to right, #9099a8, #98a3b4, #9fadc0, #a7b8cc, #aec2d8);
 border-color: rgb(192, 146, 235);
 color: rgb(255, 255, 255);
}

.PrevBtn{
  background-image: radial-gradient(circle, #fafafa8c, #fefefeaa, #ffffff, #ffffffad, #ffffffd8);
  color: rgb(96, 32, 32);
  font-weight: bolder;
  transition: 0.4s ease-out;
  
}

.PrevBtn:hover{
  transform: scale(1);
  background-image: linear-gradient(to left, #9099a8, #98a3b4, #9fadc0, #a7b8cc, #aec2d8);
  border-color: rgb(192, 146, 235);
  color: rgb(255, 255, 255);
}

.icon{
  float: calc(18%-8px);
  margin-bottom: 5em;
  display: grid;
  background-image: linear-gradient(to right top, #f0f0f0, #ececec, #e8e8e8, #e5e4e4, #e1e0e0);
    grid-template-columns: repeat(1,1fr);
}
