

.NxtBtn{
  background-image: linear-gradient(to right top, #26e77a, #22e582, #21e489, #22e290, #25e096);
  color: whitesmoke;
  position: absolute;
}

.NxtBtn:disabled{
  background-image: linear-gradient(to right top, #9099a8, #98a3b4, #9fadc0, #a7b8cc, #aec2d8);
 border-color: rgb(192, 146, 235);
 color: rgb(232, 240, 244);
}

.PrevBtn{
  background-image: linear-gradient(to right top, #26e77a, #22e582, #21e489, #22e290, #25e096);
  color: whitesmoke;
  
}

.PrevBtn:disabled{
  background-image: linear-gradient(to right top, #9099a8, #98a3b4, #9fadc0, #a7b8cc, #aec2d8);
  border-color: rgb(192, 146, 235);
  color: rgb(232, 240, 244);
}

.icon{
  float: calc(18%-8px);
  margin-bottom: 5em;
  display: grid;
  background-image: linear-gradient(to right top, #f0f0f0, #ececec, #e8e8e8, #e5e4e4, #e1e0e0);
    grid-template-columns: repeat(1,1fr);
}
